body {font-family: Arial, Helvetica, sans-serif;}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #eac7bb;
    width: 25%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 14px;
    background-color: #ba451f;
    color: white;
}

.modal-header h4{
    text-align: center;
}
.modal-body {padding: 2px 16px;}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}



/*
    formatação dos dados
*/

.container {
    width: 1000px;
    margin: 0 auto;
    line-height: 2em;
    text-align: justify;
}

#data {
	width: 100%;
	font-size: 1em;
	color: #5d220f;
    text-align: center;
}

#info {
    color: #5d220f;
	margin:4px;
	padding: 5px;
	font-size:1em;
	width: 100%;
    text-align: center;
}