.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #b51e25;
    width: 300px;
    height: 450px;
    border-radius: 10px;
}

.calculadora td button {
    display: block;
    width: 70px;
    height: 70px;
    font-size: 1em;
}

#resultado{
    display: block;
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: #FFF;
    border-radius: 25px;
    /*  overflow-y: scroll;    faz scroll na vertical */
}